@charset "utf-8";
/* css */
* { margin: 0; padding: 0 }
body { font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; color: #555; background: #f1f1f1; line-height: 1.5; }
img { border: 0; display: block }
ul, li { list-style: none; }
a { text-decoration: none; color: #444 }
a:hover { text-decoration: none; color: #000; }
.clear { clear: both; }
.blank { height: 20px; overflow: hidden; width: 100%; margin: auto; clear: both }
.f_l { float: left }
.f_r { float: right }
article { width: 1120px; margin: auto; overflow: hidden; z-index: 999 }
.container { width: 1120px; margin: auto }
main{ width:70%; float:left; overflow:hidden;z-index:1;clear: both;min-height:100%}
#header { position: fixed; top: 0px; width: 100%; z-index: 9999; }
.header-navigation { height: 73px; line-height: 73px; background:#fff; text-align: center; border-bottom: 1px solid #ddd; box-shadow: 0 1px 1px rgba(0,0,0,.04); }
/* Slide transitions */
.slideUp { -webkit-transform: translateY(-110px); -ms-transform: translateY(-110px); -o-transform: translateY(-110px); transform: translateY(-110px); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
.slideDown { -webkit-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
.navbar {
    border-bottom: 1px solid #ececec;
    background-color: #555;
    color: #ccc;
    line-height: 36px;
    height: 36px;
    font-size: 14px;
    position: relative;
}.topbox { width: 1120px; margin: auto; overflow: hidden; display: block; position: relative }
.welcome { width: 750px; overflow: hidden; display: block; float: left; position: relative }
.welcome:after { position: absolute; content: ""; left: 0; bottom: 0; width: 100%; height: 36px; background: #555; -webkit-animation: animations 5s ease-out 1s backwards; -moz-animation: animations 5s ease-out 1s backwards; -o-animation: animations 5s ease-out 5s backwards; -ms-animation: animations 5s ease-out 1s backwards; animation: animations 5s ease-out 1s backwards; opacity: 0 }
 @-webkit-keyframes animations { 0% {
left:0%;
opacity:1
}
 100% {
left:100%;
opacity:1
}
}
@-moz-keyframes animations { 0% {
left:0%;
opacity:1
}
 100% {
left:100%;
opacity:1
}
}
@-o-keyframes animations { 0% {
left:0%;
opacity:1
}
 100% {
left:100%;
opacity:1
}
}
@-ms-keyframes animations { 0% {
left:0%;
opacity:1
}
 100% {
left:100%;
opacity:1
}
}
@keyframes animations { 0% {
left:0%;
opacity:1
}
 100% {
left:100%;
opacity:1
}
}
/*search*/
.t_u { background: #555; float:left; width: 280px; height: 36px;}
.t_u a{color:#afafaf;}
.searchbox { background: #fff; float:right; width: 280px; height: 36px;margin-top: 20px}
.login_button{ background: #fff; float:right; width: 250px; height: 36px; }
.searchbox .input {background:#f7f8fa; float:left; border: none; outline: none; height: 36px; line-height: 36px; z-index: 10; font-size: 16px; color: #333; width: 240px; padding-left: 10px;  }
.searchbox .search_ico { float:right; z-index: 90;  border: none; outline: none; width:30px; height: 36px; display: block;  background:url(/images/searchbg.png) center no-repeat}

/*logo*/
.logo { float: left; font-size: 22px; line-height: 73px; background:url(/images/php.jpg) left center no-repeat ; padding-left:60px}
/*nav*/
nav { width: 1120px; margin: auto; }
#mnavh { display: none; width: 30px; height: 40px; text-align: center; padding: 0 5px }
#starlist { margin-left: 50px }
#starlist li { float: left; width: 110px; text-align: center; display: block; font-size: 18px }
.navicon { display: block; position: relative; width: 30px; height: 5px; background-color: #333; margin-top: 20px }
.navicon:before, .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #333; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -10px; }
.navicon:after { margin-top: 10px; }
.open .navicon { background: none }
.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.open .navicon:before, .open .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #333; }
#starlist li a:hover, #starlist #selected, .selected > a { color: #0077dd; }
.sub { display: none; background: #FFF; position: relative; overflow: hidden; padding: 0 0 10px 0; box-shadow: 0 4px 4px rgba(0,0,0,.04); }
.sub a{font-size:16px}
.menu { position: relative; }
#starlist li:hover ul { display: block }
#starlist li:hover.menu:before { display: none }
#starlist .sub li { padding: 0 0 0 0; width: 100%; border-bottom: #f5f5f5 1px solid; line-height: 40px; }
.menu:after { content: ""; position: absolute; right: 5px; top: 38px; width: 0; height: 0; background: #292828; border-right: 5px solid transparent; border-top: 5px solid #ffffff; -ms-transition: all .5s ease; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
#starlist li:hover.menu:after { transform: rotate(180deg) }/*旋转*/
/*footer*/
footer{ width:100%; overflow:hidden;background: #555; color:#ccc}
.footer{width: 1120px; margin: auto; overflow:hidden; padding:20px 0}
.wxbox { width:25%; overflow:hidden; float:left}
.wxbox li{ width:100px; float:left; text-align:center; margin-right:10px}
.wxbox img{ width:100px;}
.footer .bzjj{ width:33%; margin-left:20px; float:left}
.footer h2{    font-size: 15px; padding-bottom:10px}
.other{ width:33%; float:right; overflow:hidden; }
/*cd-top*/
.cd-top { display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(0, 0, 0, 0.8) url(/web/images/top.png) no-repeat center; visibility: hidden; opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; z-index:9999999 }
.cd-top.cd-is-visible { visibility: visible; opacity: 1; }

/*评论------------*/
.gbko{padding-left:3%}
.mt1{background-color: #fff; overflow: hidden; width: 99%;}
.mt1 .tbox{ width: 100%; padding-top:2%;border-bottom: 1px solid #eee;}
.posttitle{ height: 22px; line-height: 22px; font-size:18px; font-weight: normal; border-left: 3px solid #3169b0; padding-left:8px; margin:8px 0px 12px 0; }
.posttitle strong{ color: #3169b0; font-weight: normal;}
.decmt-box2{width:98%;padding:6px 10px 6px 0;margin:0px auto;overflow:hidden;clear:both;}
.decmt-box2 span.fr{float:right;}
.decmt-box2 span.title{float:left;width:80%;line-height:20px;}
.decmt-box2 ul{}
.decmt-box2 ul li{width:100%;border-bottom:1px dashed #ccc;padding-bottom:10px;overflow:hidden;}
.decmt-box2 ul li a.plpic{float:left;width:46px;height:46px;background:#F9FDED;margin-right:5px;overflow:hidden;}
.decmt-box2 ul li a.plpic img{width:40px;height:40px; padding:2px;border:1px solid #DFD9B9;}
.decmt-box2 ul li p{float:left;width:630px;line-height:22px;}
.decmt-box2 .comment_act{float:left;width:80%;line-height:20px;color:#aeaeae;}
.decmt-box2 .comment_act a{color:#aeaeae;}
.decmt-box{width:98%;padding:6px 5px;margin:0px auto;overflow:hidden;clear:both;}
.decmt-box span.fr{float:right;}
.decmt-box span.title{float:left;line-height:20px;width:600px;}
.decmt-box ul{}
.decmt-box ul li{width:100%;border-bottom:1px dashed #ccc;padding-bottom:10px;overflow:hidden;}
.decmt-box ul li a.plpic{float:left;width:40px;height:40px;padding:2px;border:1px solid #DFD9B9;background:#F9FDED;margin-right:5px;overflow:hidden;}
.decmt-box ul li p{float:left;width:630px;line-height:22px;}
.decmt-box .comment_act{float:left;width:630px;line-height:20px;color:#aeaeae;}
.decmt-box .comment_act a{color:#aeaeae;}
.decmt-box1{width:98%;padding:6px 5px;margin:0px auto;overflow:hidden;clear:both;}
.decmt-box1 span.fr{float:right;}
.decmt-box1 span.title{float:left;line-height:20px;width:600px;}
.decmt-box1 ul{}
.decmt-box1 ul li{width:100%;border-bottom:1px dashed #ccc;padding:10px 0;overflow:hidden;}
.decmt-box1 ul li a.plpic{float:left;width:40px;height:40px;padding:2px;border:1px solid #DFD9B9;background:#F9FDED;margin-right:5px;overflow:hidden;}
.decmt-box1 ul li p{float:left;width:880px;line-height:22px;}
.decmt-box1 .comment_act{float:left;width:880px;line-height:20px;color:#aeaeae;}
.decmt-box1 .comment_act a{color:#aeaeae;}
.dede_comment .decmt-box .decmt-title{line-height:19px;color:#999;font-family:Tahoma;}
.dede_comment .decmt-box .decmt-title span{margin-right:2px;vertical-align:middle;}
.dede_comment .decmt-box .decmt-title .moodico{height:18px;width:18px;display:inline-block;}
.dede_comment .decmt-box .decmt-title .username{color:#669;}
.dede_comment .decmt-box .decmt-title .username a{color:#669;}
.dede_comment .decmt-box .decmt-title .username a:hover{text-decoration:none;color:#690;}
.dede_comment .decmt-box .decmt-title .ip{color:#669;font-size:11px;}
.dede_comment .decmt-box .decmt-title .date{color:#555;font-size:11px;}
.dede_comment .decmt-box .decmt-act{float:right;margin-top:-18px;padding-right:10px;position:relative;clear:both;color:#999;}
.dede_comment .decmt-box .decmt-act span{margin-right:7px;}
.dede_comment .decmt-box .decmt-act span a{color:#888;}
.dede_comment .decmt-box .decmt-content{color:#555;line-height:21px;clear:both;width:99%;margin:2px auto 0px;
/*background:url(../images/ico-comment-quote.gif) 0px 4px no-repeat;text-indent:18px;*/}
.dede_comment .decmt-box .decmt-content img{vertical-align:middle;}
.decmt-box,.decmt-content .decmt-box,.dede_comment .decmt-box .decmt-box{background:#FFE;border:1px solid #CCC;margin:6px auto;}
.dede_comment .decmt-box .decmt-box .decmt-title{text-indent:4px;}
.dede_comment .decmt-box .decmt-box .decmt-content{color:#555;}
.nocomment{padding:10px;color:#666;}
.dede_comment_post{padding:5px 0;}
.dcmp-content{padding-top:8px;}
.dcmp-content textarea{  width:96%;  height: 120px; display: block; border: 1px solid #dedede; padding: 4px 8px;line-height: 24px; color: #666;}
.dcmp-content1{/*width:700px;*/padding-top:8px;}
.dcmp-content1 textarea{height:100px;width:700px;float:left;}
 
.dcmp-post{overflow:hidden;clear:both;color:#444;padding:5px 0 10px 0;}
.dcmp-post .dcmp-userinfo{float:left;margin-right:6px; width:100%}
.dcmp-post .dcmp-userinfo .yzm{height:30px; line-height:30px;}
.dcmp-post .dcmp-userinfo input{height:25px;padding-right:0px; border: 1px solid #dedede;}
.dcmp-post .dcmp-userinfo input,.dcmp-post .dcmp-userinfo img{vertical-align:middle;margin:5px; display:inline-block}
.dcmp-post .dcmp-submit{float:left;padding-top:6px; width:100%}
.dcmp-post .dcmp-submit input,.dcmp-post .dcmp-submit button{vertical-align:middle;}
.dcmp-post .dcmp-submit button{background-image:none;height:45px;width:145px;background-color:#0077dd;font-size:16px;color:#fff;text-align:center;line-height:45px;float:left;border:0px;margin:15px 15px 0px 0px;cursor: pointer;}
.dcmp-post .dcmp-submit .comment-sm{height:45px; line-height: 45px; width:400px;display:block; float:left; overflow:hidden;color:#333;margin-top:15px;}
.news_content a {text-decoration: blink;color: #0080ff;}